body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
  }
  
  .container{
    /* background-image: url('/pietro-de-grandi-y5vLKnZr6Zg-unsplash.jpg'); */
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: 0;
  }
  .sulphur-point-regular {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .header {
    display: flex;
    width: 100%;
    padding: 1rem 0.5rem 0 0.5rem;
    background-color:#ffffff00;
    align-items: center;
    color: white;
    justify-content:space-between;
    border: 1px solid #ffffff00;
  }
  
  .logo{
    display:flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-family: "Sulphur Point", sans-serif;
    font-weight: 700;
}
    @media screen and (min-width: 768px) {
        .logo{
            font-size: 2rem;
        }
        .logo img {
            width: 50px;
            height: 50px;
            position: relative;
            margin-right: 10px;
        }
        .hero h1{
            font-size: 2rem;
            margin-bottom: 10px;
        }
        .hero p{
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        .container{
          /* padding-right: 1rem;
          padding-left: 1rem; */
        }
        .cta-button{
            font-size: 1rem;
            padding: 0.5rem 1rem;
            background-color: #ffff;
            color: #000000;
            border-radius: 100px;
            cursor: pointer;
        }
        .card-container{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;
        }
    }
    @media screen and (min-width: 1024px) {
        .header {
            padding-left:1rem;
            padding-right:2rem;
        }
        .logo{
            font-size: 2.5rem;
        }
        .logo img {
            width: 60px;
            height: 60px;
            position: relative;
            margin-right: 10px;
        }
        .hero h1{
            font-size: 2.5rem;
        }
        .hero p{
            font-size: 1.3rem;
        }
        .cta-button{
            font-size: 1rem;
            padding: 0.5rem 1rem;
        }
    }
    @media screen and (min-width: 1440px) {
        .header {
            padding-left:2rem;
            padding-right:3rem;
        }
        .logo{
            font-size: 3.5rem;
        }
        .header p{
            font-size: 40px;
        }
        .logo img {
            width: 70px;
            height: 70px;
            position: relative;
            margin-right: 10px;
        }
        .hero h1{
            font-size: 3rem;
        }
        .hero p{
            font-size: 1.3rem;
        }
        .cta-button{
            font-size: 1.5rem;
            padding: 1rem 1.7rem;
        }
        .container{
          max-width:100em;
        }
        .card-container{
          gap: 50px;
        }
    }

  .hero {
    text-align:left;
    margin-top: 50px;
    max-width:90%;
    height:40%;
    color: white;
    padding: 2%;
    font-size:15px;
  }
  @media screen and (max-width: 768px) {
    .cta-button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: #ffff;
        color: #000000;
        border-radius: 100px;
        cursor: pointer;
        font-size: 1rem;
      }
      .container{
        /* padding: 0.5rem; */
      }
}
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .card {
    background: linear-gradient(to bottom, #ffffff00, #3E523E);
    border: 1px solid #3E523E;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    height: 200px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  
  .card p {
    font-size: 1em;
    line-height: 1.5;
  }
  
  .card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
    background: linear-gradient(to top, #ffffff00, #3E523E);
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
